{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <script src="{% static 'scripts/app.js' %}" defer></script>
    <title>Portal</title>
</head>
<body>
  <nav class="nav-container">
    <div class="right-side">
    {% if user.is_authenticated %}
    <span><a href="{% url 'profile' user.username %}">Hello, {{ user.username }}!</a></span>
    <a href="/admin">Admin</a>
    <span><a href="{% url 'logout' %}">Logout</a></span>
    </div>
    
    {% else %}
    <span><a href="{% url 'login' %}">Login</a></span>
    <span><a href="{% url 'signup' %}">SignUp</a></span>
    {% endif %}
    <a href="/">Home</a>
    <a href="/locations">Locations</a>
    <a href="/reports">Reports</a>
    <a href="{% url 'location_create' %}">Add a Location</a>
    <a href="{% url 'reports_create' %}">Add a Report</a>
    </div>
</nav>

  {% block content %}  

  {% endblock %}
</body>
</html>