{% extends 'base.html' %} 

{% block content %}

    <h1>{{location.name}}</h1>
</div>
<div>
    <h3>City: {{location.city}}</h3>
    <h3>State: {{location.state}}</h3>
</div>
<div>
    {% for report in location.reports.all %}
        <div>{{report.name}}</div>
    {% empty %}
        <div>Currently no reports exist for this location.</div>
    {% endfor %}
    <a href="{% url 'location_update' location.pk %}">Update</a>
    <a href="{% url 'location_delete' location.pk %}">Delete</a>
</div>

{% endblock %}