{% extends 'base.html' %}
{% block content %}

<h1>Cat Toy Details</h1>

<div>
    <div>
        <span>{{ report.name }}</span>
        <p>Owned by:</p>
        {% for report in report.location_set.all %}
            <p>{{location.name}}</p>
        {% empty %}
            <p>No Report Found</p>
        {% endfor %}
    </div>
    <div>
        <a href="{% url 'reports_update' report.id %}">Edit</a>
        <a href="{% url 'reports_delete' report.id %}">Delete</a>
    </div>
</div>
{% endblock %}